<header class="topbar">
  <div class="brand">
  <img src="/public/assets/img/logo.png"> 
    <span>MAC</span>
  </div>
  <nav class="nav">
    <a href="/dashboard">Servicios</a>
    <a href="/about">Acerca de nosotros</a>
    <a href="/contact">Contacto</a>
  </nav>

  <form method="post" action="/logout">
    <button class="btn-outline" type="submit">Cerrar sesión</button>
  </form>
</header>
